<div class="compound-query">
	<div class="compound-query-title">
		<mat-icon  (click)="removeInQuery(query.id)">clear</mat-icon>
		<div>Compound Query</div>
	</div>
	<div *ngFor="let error of query.errors">
		<div class="warn">
			<i class="material-icons">info_outline</i>
			<span> {{ error }} </span>
		</div>
	</div>
	<div class="compound-query-header">
		<div class="flex-grid">
			<div class="flex-cell-40">

				<br>

				<!-- query type -->

				<mat-form-field>
					<mat-select
						placeholder="Query" 
						[(value)]="query.boolparam"
						(change)="exeBuild()">
						<mat-option
							*ngFor="let compoundQuery of queryList.compoundQuery; let i = index;" 
							[value]="compoundQuery">{{ compoundQuery }}</mat-option>
					</mat-select>
				</mat-form-field>

			</div>
			<div class="flex-cell-10"></div>
			<div class="flex-cell-40">

				<br>

				<!-- query type specific options -->

				<div *ngIf="query.boolparam == 'span_near'">
					<mat-form-field>
						<input matInput placeholder="Slop" [(ngModel)] = "query.slop"  (keyup)="exeBuild();">
					</mat-form-field>
				</div>
				
				<div *ngIf="query.boolparam == 'span_near'">
					<mat-form-field>
						<mat-select
							placeholder="In Order"
							[(value)]="query.in_order"
							(change)="exeBuild()">
							<mat-option [value]="true"> True </mat-option>
							<mat-option [value]="false"> False </mat-option>
							<mat-option [value]=""> &nbsp; </mat-option>
						</mat-select>
					</mat-form-field>
				</div>


				<div *ngIf="query.boolparam == 'should'">
					<mat-form-field>
						<input matInput placeholder="Minimum should match" [(ngModel)] = "query.minimum_should_match" (keyup)="exeBuild();">
					</mat-form-field>
				</div>
				
			</div>
		</div>
	</div>
	<div class="compound-query-body">

		<!-- internal queries -->

		<div *ngFor="let queryIn of query.internal, let internalIndex=index">
			<single-query 
				[mapping]="mapping"
				[types]="types"
				[selectedTypes]="selectedTypes" 
				[result]="result" 
				[config]="config" 
				[query]="queryIn" 
				[queryList]="queryList"
				[internalIndex]="internalIndex"
				[queryIndex]="query.id"
				[internal]="query.internal"
				[buildQuery]="buildQuery"
				[buildInsideQuery]="buildInsideQuery"
				[buildSubQuery]="buildSubQuery"
				[createQuery]="createQuery"
				[setQueryFormat]="setQueryFormat"
				[compoundQueryName]="query.boolparam">
			</single-query>
		</div>

		<button mat-raised-button (click)="addQuery(query)" class="compound-query-add-condition">
			<i class="material-icons">add</i> Conditions
		</button>

		<!-- child queries -->


		<div *ngFor="let queryIn of result.resultQuery.result">
			<div *ngIf="queryIn.parent_id != 0 && queryIn.parent_id == query.id">

				<compound-query 
					[mapping]="mapping"
					[types]="types"
					[selectedTypes]="selectedTypes" 
					[result]="result" 
					[config]="config" 
					[query]="queryIn" 
					[queryList]="queryList"
					[addQuery]="addQuery"
					[addCompoundQuery]="addCompoundQuery"
					[removeQuery]="removeQuery"
					[queryFormat]="queryFormat"
					[buildQuery]="buildQuery"
					[buildInsideQuery]="buildInsideQuery"
					[buildSubQuery]="buildSubQuery"
					[createQuery]="createQuery"
					[setQueryFormat]="setQueryFormat" >
				</compound-query>
				
			</div>
		</div>
				
	</div>
	<div class="compound-query-footer">

		<button mat-raised-button (click)="addSubQuery(query.id)" class="compound-query-add-sub-query">
			<i class="material-icons">add</i> Sub Query
		</button>
		
	</div>

</div>
