<style>
    .geoshape-query 
    {
        margin-left:20px;
    }
    .actions
    {
        text-align: right;
    }
    
    .actions mat-icon
    {
        cursor: pointer;
        --margin: 10px 0;
        opacity: 0.4;
    }
    
    .actions mat-icon:hover
    {
        opacity: 0.8;
    }

    .option
    {
        opacity: 0.4;
    }

    .option:hover
    {
        opacity: 0.8;
    }

</style>
<div class="geoshape-query gutter">
    <div class="flex-grid">
        <div class="flex-cell-90">
            <mat-form-field>
                <input 
                    matInput 
                    [(ngModel)]="inputs.type.value"
                    placeholder="{{inputs.type.placeholder}}"
                    (keyup)="getFormat();"
                />
            </mat-form-field>
            <br />
            <mat-form-field>
                <input 
                    matInput 
                    [(ngModel)]="inputs.coordinates.value"
                    placeholder="{{inputs.coordinates.placeholder}}"
                    (keyup)="getFormat();"
                />
            </mat-form-field>
        </div>
        <div class="flex-cell-10 actions">
            <mat-icon (click)="addOption()">settings</mat-icon>
        </div>
    
        <div class="flex-cell-100" *ngIf="optionRows.length">
            <div class="flex-grid option" *ngFor="let singleOption of optionRows, let i=index">
                <div class="flex-cell-45">
                    <mat-form-field>
                        <mat-select
                            [(value)]="singleOption.name"
                            (change)="selectOption()">
                            
                            <mat-option
                                *ngFor="let option of default_options"
                                [value]="option">{{ option }}</mat-option>
                            
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-cell-45">
        
                    <mat-form-field>
                        <input 
                            matInput 
                            placeholder="value"
                            [(ngModel)]="singleOption.value"
                            (keyup)="getFormat();"
                        />
                    </mat-form-field>
        
                </div>
                <div class="flex-cell-10 actions">
                    <mat-icon (click)="removeOption(i)">clear</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>