<span class="col-xs-6 pd-10">
    <div class="form-group form-element query-primary-input">
        <span class="input_with_option">
            <input type="text" class="form-control col-xs-12"
                [(ngModel)]="inputs.input.value"
                    placeholder="{{inputs.input.placeholder}}"
                    (keyup)="getFormat();" />
        </span>
    </div>
    <button (click)="addOption();" class="btn btn-info btn-xs add-option"> <i class="fa fa-plus"></i> </button>
</span>
<div class="col-xs-12 option-container" *ngIf="optionRows.length">
    <div class="col-xs-12 single-option" *ngFor="let singleOption of optionRows, let i=index">
        <div class="col-xs-6 pd-l0">

            <mat-form-field>
                <mat-select
                    [(value)]="singleOption.name"
                    (change)="selectOption()">
                    
                    <mat-option
                        *ngFor="let option of default_options"
                        [value]="option">{{ option }}</mat-option>
                    
                </mat-select>
            </mat-form-field>
            
            <!--
            <editable
                class = "additional-option-select-{{i}}"
                [editableField]="singleOption.name"
                [editPlaceholder]="'--choose option--'"
                [editableInput]="'select'"
                [selectOption]="options"
                [passWithCallback]="i"
                [selector]="'additional-option-select'"
                [querySelector]="querySelector"
                [informationList]="informationList"
                [showInfoFlag]="true"
                [searchOff]="true"
                (callback)="selectOption($event)">
            </editable>
            -->
            
        </div>
        <div class="col-xs-6 pd-0">
            <div class="form-group form-element">
                <input class="form-control col-xs-12 pd-0" type="text" [(ngModel)]="singleOption.value" placeholder="value"  (keyup)="getFormat();"/>
            </div>
        </div>
        <button (click)="removeOption(i)" class="btn btn-grey delete-option btn-xs">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>