<div class="sort-block">
    <div class="sort-block-title">
        <mat-icon  (click)="deleteSort()">clear</mat-icon>
        <div>Sort</div>
    </div>
	<div class="sort-block-field" *ngFor="let sort of result.sort, let i=index">
        <div class="flex-grid">
    
            <div class="flex-cell-40">
        
                <mat-form-field>
                    <mat-select
                        [(value)]="sort.selectedField"
                        (change)="sortFieldCallback(sort)">
                        
                        <mat-option
                            *ngFor="let field of allFields"
                            [value]="field">{{ field }}</mat-option>
                        
                    </mat-select>
                </mat-form-field>
                
            </div>
            <div class="flex-cell-40">
                <mat-button-toggle-group color="primary" #group="matButtonToggleGroup" [(ngModel)]="sort.order" (change)="sortFieldCallback(sort)">
                    <mat-button-toggle value="asc">Asc</mat-button-toggle>
                    <mat-button-toggle value="desc">Desc</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="flex-cell-10 action">
                <mat-icon  (click)="removeSortQuery(i)">clear</mat-icon>
            </div>

        </div>
				
	</div>
	<div class="sort-block-footer">
        <button mat-raised-button (click)="initSort()" class="compound-query-add-condition">
            <i class="material-icons">add</i> Conditions
        </button>
    </div>
</div>