<div class="row" *ngIf="selectedTypes.length > 0">
	<div class="col">
		<button mat-raised-button color="primary" (click)="addBoolQuery(0);">
			<i class="fa fa-plus"></i> Query
		</button>
		<button mat-raised-button color="accent" (click)="toggleSortQuery();">
			<i class="fa fa-plus"  *ngIf="!result.sort || !result.sort.length"></i>
			<i class="fa fa-minus" *ngIf=" result.sort &&  result.sort.length"></i>
			Sorting
		</button>
	</div>
</div>

<div class="row" *ngFor="let queryIn of result.resultQuery.result">
	<div class="col" *ngIf="queryIn.parent_id == 0">
		<bool-query 
			[mapping]="mapping"
			[types]="types"
			[selectedTypes]="selectedTypes" 
			[result]="result" 
			[config]="config" 
			[query]="queryIn" 
			[queryList]="queryList"
			[addQuery]="addQuery"
			[addBoolQuery]="addBoolQuery"
			[removeQuery]="removeQuery"
			[queryFormat]="queryFormat"
			[buildQuery]="buildQuery"
			[buildInsideQuery]="buildInsideQuery"
			[buildSubQuery]="buildSubQuery"
			[createQuery]="createQuery"
			[setQueryFormat]="setQueryFormat"
			[joiningQuery]="joiningQuery"
			[joiningQueryParam]="joiningQueryParam"
			(setDocSample)="setDocSampleEve($event);"
			(setJoiningQuery)="setJoiningQueryEve($event);">
		</bool-query>
	</div>
</div>


<div class="row" *ngIf="result.sort && result.sort.length">
	<div class="col">
		<sort-block 
			[mapping]="mapping"
			[types]="types"
			[selectedTypes]="selectedTypes" 
			[result]="result" 
			[config]="config" 
			[query]="queryIn" 
			[queryList]="queryList"
			[addQuery]="addQuery"
			[addBoolQuery]="addBoolQuery"
			[removeQuery]="removeQuery"
			[queryFormat]="queryFormat"
			[buildQuery]="buildQuery"
			[buildInsideQuery]="buildInsideQuery"
			[buildSubQuery]="buildSubQuery"
			[createQuery]="createQuery"
			[setQueryFormat]="setQueryFormat"
			
			
			[joiningQuery]="joiningQuery"
			[joiningQueryParam]="joiningQueryParam"
			(setDocSample)="setDocSampleEve($event);">
		</sort-block>
	</div>
</div>
