<div class="flex-grid">
	<div class="flex-cell-100">
		<button mat-raised-button color="primary" (click)="addCompoundQuery(0);">
			<i class="fa fa-plus"></i> Query
		</button>
		<button mat-raised-button color="accent" (click)="toggleSortQuery();">
			<i class="fa fa-plus"  *ngIf="!result.sort || !result.sort.length"></i>
			<i class="fa fa-minus" *ngIf=" result.sort &&  result.sort.length"></i>
			Sorting
		</button>
	</div>
</div>

<div class="flex-grid" *ngFor="let queryIn of result.resultQuery.result">
	<div class="flex-cell-100" *ngIf="queryIn.parent_id == 0">

		<compound-query 
			[mapping]="mapping"
			[types]="types"
			[selectedTypes]="selectedTypes" 
			[result]="result" 
			[config]="config" 
			[query]="queryIn" 
			[queryList]="queryList"
			[addQuery]="addQuery"
			[addCompoundQuery]="addCompoundQuery"
			[removeQuery]="removeQuery"
			[queryFormat]="queryFormat"
			[buildQuery]="buildQuery"
			[buildInsideQuery]="buildInsideQuery"
			[buildSubQuery]="buildSubQuery"
			[createQuery]="createQuery"
			[setQueryFormat]="setQueryFormat">
		</compound-query>

	</div>
</div>
	
<div class="flex-grid" *ngIf="result.sort && result.sort.length">
	<div class="flex-cell-100">

		<sort-block 
			[mapping]="mapping"
			[types]="types"
			[selectedTypes]="selectedTypes" 
			[result]="result" 
			[config]="config" 
			[query]="queryIn" 
			[queryList]="queryList"
			[addQuery]="addQuery"
			[addCompoundQuery]="addCompoundQuery"
			[removeQuery]="removeQuery"
			[queryFormat]="queryFormat"
			[buildQuery]="buildQuery"
			[buildInsideQuery]="buildInsideQuery"
			[buildSubQuery]="buildSubQuery"
			[createQuery]="createQuery"
			[setQueryFormat]="setQueryFormat">
		</sort-block>
			
	</div>
</div>
