<div class="editable-pack">
	<div class="editable-front col-xs-12 pd-0" (click)="editable_on($event)">
		<div *ngIf = "editableField != ''">
			{{editableField}}
		</div>
		<div *ngIf = "editableField == ''">
			{{editPlaceholder}}
		</div>
	</div>
	<div class="editable-back col-xs-12 pd-0" *ngIf="editableInput == 'select2'">
		<h1>no select2 no more</h1>
		<!--
		<select2 [selectOptions]="selectOption" [querySelector]="querySelector" [selector]="selector" (callback)="callback.emit($event);" [showInfoFlag]="showInfoFlag" [informationList]="informationList"  [passWithCallback]="passWithCallback" [searchOff]="searchOff" (setDocSample)="setDocSampleEve($event);"></select2>
		-->
	</div>	
	<div class="editable-back col-xs-12 pd-0" *ngIf="editableInput == 'select'">
		<h1>1</h1>
		<pre> {{ selectOption | json }} </pre>
		<select class="form-control form-element" [(ngModel)]="editableModal" (change)="editable_off($event);">
			<option *ngFor="let oo of selectOption, let i=index" [value]="i">{{i}} - {{oo}}</option>
		</select>
		<!-- placeholder="Favorite food" -->
		<!--
		<mat-select>
			<mat-option *ngFor="let oo of selectOption, let i=index" [value]="i"> {{ oo }} </mat-option>
		</mat-select>
		-->
	</div>	
	<div class="editable-back col-xs-12 pd-0" *ngIf="editableInput == 'selectOption'">
		<h1>2</h1>
		<select class="form-control form-element" [(ngModel)]="editableModal" (change)="editable_off($event);">
			<option *ngFor="let oo of selectOption, let i=index" [value]="oo">{{oo}}</option>
		</select>
		<!-- placeholder="Favorite food" -->
		<!--
		<mat-select>
			<mat-option *ngFor="let oo of selectOption, let i=index" [value]="oo"> {{ oo }} </mat-option>
		</mat-select>
		-->
	</div>

	<div class="editable-back col-xs-12 pd-0" *ngIf="editableInput == 'selectField'">
			<h1>3</h1>
			<pre> {{ selectOption | json }} </pre>
			<select class="form-control form-element" [(ngModel)]="editableModal" (change)="editable_off($event);">
				<option *ngFor="let oo of selectOption, let i=index" [value]="i">{{i}} - {{oo.name }}</option>
			</select>
	</div>

</div>
