<div class="container">
    <div class="row">
        <h1> es query editor </h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            
            <query-blocks
                *ngIf="mapping"
                [types]="types"
                [selectedTypes]="selectedTypes"
                [config]="config"
                [mapping]="mapping"
                [result]="result">
            </query-blocks>

        </div>
        <div class="col-sm-6">

            <h1> q </h1>
            <pre> {{ result.resultQuery.final }} </pre>
          
            <!--
            <h1> selectedTypes </h1>
            <pre> {{ selectedTypes | json }} </pre>
            
            <h1> config </h1>
            <pre> {{ config | json }} </pre>
            
            <h1> mapping </h1>
            <pre> {{ mapping | json }} </pre>
            -->
            
            <h1> result </h1>
            <pre> {{ result | json }} </pre>
            
        </div>
    </div>
</div>







<!--

GET /spotter_288_2017*/_search

{
  "query": {
    "bool": {
      "must": [
        {
          "term": {
            "supplier": "33"
          }
        },
        {
          "bool": {
            "must": [
              {
                "span": {}
              }
            ]
          }
        }
      ],
      "must_not": [
        {
          "term": {
            "statut": "5"
          }
        }
      ],
      "should": []
    }
  }
}

-->