<main role="main">
  <div class="jumbotron">
    <h1 class="display-4">ES Query Editor</h1>
    <p class="lead">Elastic Search Query Editor</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">      
        <query-blocks
            *ngIf="mapping"
            [types]="types"
            [selectedTypes]="selectedTypes"
            [config]="config"
            [mapping]="mapping"
            [result]="result">
        </query-blocks>
      </div>
      <div class="col">
        <pre *ngIf="result.resultQuery.parsed"> {{ result.resultQuery.parsed | json }} </pre>
      </div>
    </div>
  </div>
</main>
