/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body {
  margin:0;
  padding:0;
}

.flex-grid {
  margin:5px;
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 100 {
  .flex-cell-#{$i} {
    flex:$i;
    flex-basis: percentage($i/100);
  }
}
